# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# Output artifacts
output/

# jetbrains
.idea